/* =============================================================================
*   5.x NODE FORM
* ========================================================================== */
.wysiwyg-toggle-wrapper {
  margin-top: 0.25em;
}

.node-form .form-item-title,
.node-form .field-name-body,
.node-form .form-type-managed-file {
  border: 1px solid #69D2E7;
  border-top-width: 8px;
  margin-bottom: 18px;
}

/* Sidebar */
.panel-pane fieldset.collapsible {
  border: 1px solid #ddd;
}

.panel-pane legend .summary {
  padding: 5px 10px;
  display: none;
}

.panel-pane fieldset.collapsed legend .summary {
  display: inline-block;
}

.panel-pane fieldset fieldset.collapsed legend .summary {
  display: none;
}

/*-------------------------------------------------
   5.0 Pathauto
-------------------------------------------------*/

.node-form .form-item-path-alias label {
  float: left;
  font-weight: 400;
  padding-top: 1px;
  text-transform: lowercase;
}

.node-form .form-item-path-alias label strong {
  text-transform: uppercase;
  margin-right: 12px;
}

.node-form .form-item-path-alias {
  margin-top: .25em;
  margin-bottom: 18px;
  padding: 9px;
  vertical-align: middle;
  min-height: 1.2em;
  border-color: #DDD;
  border-top: 8px solid #DDD;
}

.node-form .form-item-path-alias input {
  margin-left: 4px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 10px;
}

.node-form .form-item-path-pathauto {
  display: none;
}

.node-form .field-name-body .form-item {
  border: 0;
  margin: 0;
}
.node-form .field-name-body .filter-wrapper .fieldset-content {
  background-color: #E4EFF1;
}

.node-form .form-wrapper.form-actions {
  margin-top: 0;
  margin-bottom: 10px;
}

/* Match the node form actions style in Rubik. */
.pane-node-form-summary {
  background: #eee;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  padding: 9px;
  margin-bottom: 10px;
}

.node-form-summary-summary {
  /*font-size: 0.9em;*/
}

.node-form-summary-summary .label {
  font-weight: bold;
}

.node-form-summary-summary .value {
  padding-right: 5px;
}

.node-form-summary-summary a {
  font-style: italic;
  font-size: 0.9em;
}

/* Remove white background from Rubik */
.pane-node-form-summary .form-item {
  background-color: transparent;
}
/* Publish/authored fields are shown with an inline 'display: block' */
.pane-node-form-summary .form-item[style] {
  padding: 8px 0;
  clear:both;
}

.pane-node-form-summary .form-item.form-item-promote,
.pane-node-form-summary .form-item.form-item-sticky {
  padding: 0;
}

/* contain floats */
.node-form-summary .form-item:after {
  content: '';
  display: block;
  clear: both;
}

/* Publish state status message */
.node-form-summary-publish {
  margin: 0.5em 0;
  background: #f7e7ba; /* hsl(44, 80%, 85%) */
  padding: 0.25em 0.75em;
  border: 1px solid #f2d78c; /* hsl(44, 80%, 75%) */
}
.node-form-summary-publish.published {
  background: #c6eccc; /* hsl(130, 50%, 85%) */
  border: 1px solid #9fdfaa; /* hsl(130, 50%, 75%) */
}

.container-inline-date .date-padding {
  padding: 0;
}

.node-form .text-format-wrapper .filter-wrapper {
  border: 0;
  margin-bottom: 0;
}

input.teaser-button,
input.form-submit,
a.button {
  background: #fafafa !important;
  padding: 6px 16px !important;
  text-shadow: none !important;
  border: 1px solid #ccc !important;
  border-radius: 3px;
}
input.teaser-button:hover,
input.form-submit:hover,
a.button:hover,
input.teaser-button:focus,
input.form-submit:focus,
a.button:focus {
  background: #ffffff !important;
}

.button {
  display: inline-block;
  line-height: normal;
  border-radius: 3px;
  padding: 6px 16px;
}
input.button-yes {
  background: #2ba6cb !important;
  color: #ffffff !important;
  border: 1px solid #207C97 !important;
}
input.button-yes:hover,
input.button-yes:focus {
  background: #2489A8 !important;
}
input.button-no,
input.button-no:hover,
input.button-no:focus {
  border: 0 !important;
  background: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  margin-right: 30px !important;
  box-shadow: none !important;
  color: #cc0000 !important;
  text-decoration: underline !important;
}
input.button-no:hover,
input.button-no:focus {
  color: #ff0000 !important;
}
/*.button.split > b {
  margin-right: 30px;
}*/
.button.dropdown.split {
  background: transparent !important;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.25);
}
.button.dropdown.split > input {
  border-radius: 3px 0 0 3px;
  margin-right: 30px !important;
  box-shadow: none !important;
  /*border: 1px solid #207C97 !important;*/
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
}
.button.dropdown.split > span {
  cursor: pointer;
  border: 1px solid #207C97;
  border-left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.button.dropdown > ul {
  border: 1px solid #bbb;
  border: 1px solid hsla(0, 0%, 0%, 0.35);
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.2);
  border-radius: 3px;
  margin-top: 2px;
  overflow: hidden;
  -webkit-background-clip: padding-box;
}
.button.dropdown > ul input {
  border: 0 !important;
  background: transparent !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  box-shadow: none !important;
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
}

.form-actions .button {
  margin-right: 5px;
 }

 .node-form .image-widget-data input.form-file,
 #user-profile-form input.form-file {
   padding: 6px;
   margin-right: 12px;
 }
 .node-form .image-widget-data input#edit-field-slide-image-und-0-upload-button {
   padding: 7px 12px;
   margin-right: 18px;
   display: inline-block;
 }
 a.imce-filefield-opener {
   border: 1px solid #ddd;
   margin-bottom: 12px;
   margin-top: 12px;
   padding: 4px 8px 4px 32px;
   background-position: 8px 50%;
 }
 a.imce-filefield-opener:hover {
   background-color: #eee;
 }

 .pagepreview-preview {
  margin-bottom: 13px;
 }

div.messages {
  margin-bottom: 18px !important;
  padding: 6px 9px;
 }

/* =============================================================================
*   5.x NODE EDIT OVERLAY
* ==========================================================================

/*
   #00DFFC
   #00B4CC
   #008C9E
   #005F6B
   #343838
*/

/*-------------------------------------------------
   END CSS
-------------------------------------------------*/
