/**
 * @file
 * Structural styles for UI buttons in Seven
 *
 * Apply these classes to any element (<link>, <button>, <input>, etc.) that
 * should appear as a button.
 */

/* ====================================
   Buttons
   ==================================== */

/**
 * 1. Enable z-index on buttons.
 * 2. Normalize 'line-height'; can’t be changed from 'normal' in Firefox 4+.
 * 3. Allows full range of styling in Webkit and Gecko.
 *
 * N.B. Assumes box-sizing: border-box applied globally.
 */
.button {
  display: inline-block;
  position: relative;  /* 1 */
  text-align: center;
  line-height: normal;  /* 2 */
  cursor: pointer;
  -webkit-appearance: none;  /* 3 */
  -moz-appearance:    none;  /* " */
}

/* Prevent focus ring being covered by next siblings. */
.button:focus {
  z-index: 10;
}


/* ====================================
   Link actions
   ==================================== */

.link {
  display: inline;
  cursor: pointer;
  padding: 0;
  border: 0;
  background: none;
  -webkit-appearance: none;
  -moz-appearance:    none;
}









/**
 * @file
 * Structural styles for generic UI menus in Seven
 */

/* N.B. Assumes box-sizing: border-box applied globally. */
.menu__item {
  display: block;
  width: 100%;
  border: 0;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance:    none;
  line-height: normal;
}

/**
 * 1. Menus may get temporary focus via tabindex to enable keydown detection;
 *    since focus is immediately passed to an element with visible focus,
 *    we don’t want this to be visible.
 */
.js .menu {
  outline: 0; /* 1 */
}








/**
 * @file
 * Structural styles for a contiguous group of UI buttons in Seven
 */

/**
 * 1. Prevent extra vertical whitespace when children are floated or
 *    inline-block.
 */
.button-group {
  display: inline-block;
  vertical-align: top;  /* 1 */
}
/* Clearfix manually to avoid needing to add a utility class to the markup */
.button-group:after {
  content: ' ';
  display: block;
  clear: both;
}

/* Float children to prevent whitespace between items */
.button-group__item {
  float: left;  /* 1 */
}









/**
 * @file
 * Structural styles for popup/popover/dropdown containers in Seven
 */

.popup-container {
  display: inline-block;
  position: relative;
}

/**
 * 1. The popup is never narrower than its trigger. Assumes box-sizing:
 *    border-box applied globally.
 */
.popup {
  overflow: hidden;
  min-width: 100%;  /* 1 */
}

/* Position values are applied with JS at runtime. */
.js .popup {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  margin-top: 2px;
}
.popup.is-open {
  display: block;
  z-index: 90;
}










/**
 * @file
 * Stuctural styles for pure-CSS arrow icons in Seven
 *
 * Used to indicate the presence of a dropdown menu or (in table headers) the
 * column sort direction.
 */

/**
 * 1. The border is used to render the element; its color is the visible color.
 */
[class^="triangle"] {
  display: inline-block;
  width: 0;
  height: 0;
}
/**
 * Use !important to enforce the three transparent sides so that we can change
 * the color of any triangle with just 'border-color'
 */
.triangle-up {
  border-top: 0 solid transparent !important;
  border-right: 0.325em solid transparent !important;
  border-bottom: 0.35em solid #000000;
  border-left: 0.325em solid transparent !important;
  vertical-align: 0.125em;
}
.triangle-right {
  border-top: 0.325em solid transparent !important;
  border-right: 0 solid transparent !important;
  border-bottom: 0.325em solid transparent !important;
  border-left: 0.35em solid #000000;
  vertical-align: 0.1em;
}
.triangle-down {
  border-top: 0.35em solid #000000;
  border-right: 0.325em solid transparent !important;
  border-bottom: 0 solid transparent !important;
  border-left: 0.325em solid transparent !important;
  vertical-align: 0.125em;
}
.triangle-left {
  border-top: 0.325em solid transparent !important;
  border-right: 0.35em solid #000000;
  border-bottom: 0.325em solid transparent !important;
  border-left: 0 solid transparent !important;
  vertical-align: 0.1em;
}













/**
 * @file
 */

/**
 * Micro clearfix: contain floats, prevent topmost margin collapsing
 * @see http://nicolasgallagher.com/micro-clearfix-hack/
 *
 * 1. One way to avoid an Opera bug when the 'contenteditable' attribute is
 *    included anywhere else in the document. Otherwise it causes space to
 *    appear at the top and bottom of the element.
 * 2. The use of 'table' rather than 'block' is only necessary if using
 *    ':before' to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after,
.float-container:before,
.float-container:after {
  content: ' ';  /* 1 */
  display: table; /* 2 */
}
.clearfix:after,
.float-container:after {
  clear: both;
}

/**
 * New block formatting context
 *
 * Provides some useful properties: element won’t wrap under floats, will
 * contain floated children. Will not clip overflow.
 */
.block-container {
  display: table-cell;
  width: 9999em;
}

/**
 * New positioning context
 */
.position-container {
  position: relative;
}

/**
 * Hide an element when js is off
 */
.no-js .noscript-hidden {
  display: none;
}

/**
 * Remove browser styles, especially for <buttons> and so on.
 */
.reset-appearance {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  border: 0 none;
  background: transparent;
  padding: 0;
  margin: 0;
  line-height: inherit;
}
